/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Mar-2019, 21:01:13
    Author     : Ciara
*/
#pane{
  -fx-background-color: #DEA2A2;
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 

    
}
.pane{
  -fx-background-color: #DEA2A2;
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 

    
}

#btn{
    
  
    -fx-border-style: none;
    
    -fx-image-borders: none;
     -fx-graphic: url("breakfast.jpg");
    -fx-border-radius: 30;
}

#btn1 {
    
    -fx-border-style: none;
      -fx-border-style: none;
    -fx-image-borders: none;
     -fx-graphic: url("dinner.jpg"); 
    
}

.grid {
     
   
    -fx-background-radius: 5.0;
     -fx-border-style: none;
   
  
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-background-image: url("logo.png");
    -fx-background-color: #DEA2A2;
    -fx-background-repeat: no-repeat no-repeat;
  
   
}

.button{
 -fx-background-color: linear-gradient(#ffffff, #ffffff);
-fx-background-radius: 100;
   -fx-text-fill: navy
 }
 
 .btn2 {
     
     -fx-background-color: linear-gradient(#bab2b5, #bab2b5);
-fx-background-radius: 100;
 -fx-text-fill: black;
     
     
 }